@import '../../scss/variables.scss';

.todo {
  background: rgba($color: $bgColor, $alpha: 1);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 30px;
  height: 80px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba($color: $bgColor, $alpha: 0.3);
}

.wrapper {
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.input {
  background-color: $bgMidColor;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: $textColor;
  font-family: $bodyText;
  font-size: $fsize;
  height: 100%;
  outline: 0;
  padding: 5px 20px;
  width: 90%;
}

.cut {
  background-color: $bgColor;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 96px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #c5cae962;
  font-family: sans-serif;
  left: 20px;
  font-family: $bodyText;
  font-size: $fsize;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 12px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-23px) translateX(7px) scale(0.6);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: $bgLightColor;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: $bgMidColor;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  fill: $textColor;
  cursor: pointer;
  height: 100%;
  outline: 0;
  aspect-ratio: 1 / 1;
  transition: all 0.23s ease-in;
  &:hover {
    background-color: $bgLightColor;
    fill: $bgColor;
  }
}

.submit:active {
  background-color: $bgLightColor;
  fill: $bgColor;
}
