// Variables 
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Manrope:wght@400;700&display=swap');

@mixin headText {
    font-family: 'Manrope';
    font-weight: 700;
}
$bodyText: 'Manrope';
$itText: 'Allura';
$textColor: #d0d5f5;
$bgColor: #303F9F;
$bgMidColor: #3f51b5;
// $bgLightColor: #03A9F4;
$bgLightColor: #ff9b9b;
$fsize: 1.8rem;
